/* 進度條 */
@mixin progress {
    height: $progress-height;
    overflow: hidden;
    background-color: rgba(#fafafa, .45);
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    position: relative;
}

@mixin progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    font-size: 12px;
    line-height: $progress-height;
    color: #fff;
    text-align: center;
    background-color: $brand-accent;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width 1s ease;
}